@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-dm: "DM Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-anon: "Anonymous Pro", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

#root, body, html {
  height: 100%;
}
